# Programming for Data Science
## NOVA IMS

#### Student Name:
Sofia Cunha
#### Student Number:
M20190795

### How to save your jupyter notebook
Save wih the following name HW2_\< id >.ipynb where \< id > is your student number. Upload your solution on moodle

### Homework 2

This week homework will test your ability to apply functions and classes.

### Notes and Additional Material

In the _Theoretical Slides L3_ **Challenges for Practice** _page 52_  supplied by **Professor Fl√°vio Pinheiro** you will find the following exercise:


**Question:** Write a program that computes the net amount of a bank account based a transaction log from console input. the transaction log format is shown as following:

D 100

W 200

D means deposit while W means withdrawal.
Suppose the folowing input is supplied to the program:

D 300

D 300

W 200

D 100

Then, the output should be: 500

## Let's move on to what matters!!




# Assignment

## Part I


1. Declare a function named *delete_duplicates* that takes as argument a list, **L**, of values;


* The function *delete_duplicates* returns a new list with unique elements of the passed list, **L**;
* For instance if we pass a list with the values [1,2,3,3,3,3,4,5], it must return [1, 2, 3, 4, 5];
* Complement the function with a proper documentation that can be accessible through the attribute .\__doc__;
* The function should work for lists with heterogeneous types of objects (strings, int, float, etc ..

In [47]:
# Your Solution
def delete_duplicates(L):
    """The function delete_duplicates will return a new list with unique elements"""
    
    Listdata = []
    
    for y in L:
        if y not in Listdata:
            Listdata.append(y)
    
    return Listdata

delete_duplicates([1,2,3,3,3,3,4,5])

#delete_duplicates.__doc__

[1, 2, 3, 4, 5]


2. Declare a list, **l**, made up of 10000 random integers between 0 and 100, 100 included;


* Use the function *delete_duplicates* to return the unique elements in **l**;

In [48]:
import random

l=[]
    
for i in range (10000):
    l.append(random.randrange(0, 101))
        

print(delete_duplicates (l))

[10, 19, 48, 46, 3, 89, 64, 8, 44, 76, 91, 66, 100, 36, 95, 26, 96, 92, 5, 41, 43, 32, 15, 39, 58, 22, 75, 25, 74, 16, 6, 14, 11, 90, 99, 72, 81, 49, 93, 71, 2, 9, 23, 17, 20, 7, 55, 37, 67, 29, 51, 79, 85, 98, 82, 30, 50, 56, 84, 52, 65, 40, 94, 83, 53, 34, 60, 12, 35, 69, 62, 88, 68, 24, 70, 87, 0, 42, 57, 31, 21, 28, 78, 1, 97, 18, 4, 13, 54, 86, 77, 80, 33, 38, 59, 61, 45, 63, 73, 47, 27]

## Part II

1. Declare a class that holds a client bank account;


* The input arguments must be name and first deposit amount
* The client will have an unique id
* A comission will deducted to the original amount of 50


2. Interest rate


* Define a method where an interest rate is aplied to the net amount


3. Age


* Create functions to supply the birthdate (format YYYYMMDD) and get the Age



##### Note: Use the basis provided to solve this homework item. Take the necessary actions to make it run successfully

In [49]:
import datetime

class bank_account():
    
    #<interest rate>
    irate = 1.05  
    idnum = 0
     
    #<account id>
    def __init__(self,  name, balance):
        self.name = name
        if balance < 50:
            raise ValueError('First deposit must be 50 or more!')
        self.balance = balance - 50
        self.idnum = bank_account.idnum
        bank_account.idnum += 1
        print(f'Bank account created with id {self.idnum} and balance {self.balance}')
    
    #<function to initialize with the mandatory attributesand necessary actions>
    
    def apply_IR(self):
        self.balance = float(self.balance * self.irate)
        print(f'Interest rate applied! You have {self.balance} in your account!')
        
        
    def setBirthday(self, year_of_birth, month_of_birth, day_of_birth):
        self.birthdate = datetime.date(year_of_birth, month_of_birth, day_of_birth)
        print(f'Birthdate set to {self.birthdate}')
        
    def getAge(self):
        if self.birthdate == None:
            raise ValueError('please setBirthday!!')
        else:
            today = datetime.date.today()
            age = today.year - self.birthdate.year
        
            if today < datetime.date(today.year, self.birthdate.month, self.birthdate.day):
                age -= 1

        return age 
    
    
    def applyDeposit(self, amount):  
        self.balance += amount 
        print(f'Deposit done! You have {self.balance} in your account')
        
    
    def applyWithdrawal(self, amount): 
        if self.balance>=amount: 
            self.balance-=amount 
            print(f'Withdraw done! You have {self.balance} in your account') 
            
        else: 
            print("\n Insufficient balance  ")


4. Transactions


* Apply the following bank transactions:

* Open Account with 7500
* D 500
* D 500
* W 1000
* W 1500
* D 500
* Apply a class interest rate of 5%

In [50]:
Acc1 = bank_account('Grifo', 7500)
Acc1.applyDeposit(500)
Acc1.applyDeposit(500)
Acc1.applyWithdrawal(1000)
Acc1.applyWithdrawal(1500)
Acc1.applyDeposit(500)
Acc1.apply_IR()

Bank account created with id 0 and balance 7450
Deposit done! You have 7950 in your account
Deposit done! You have 8450 in your account
Withdraw done! You have 7450 in your account
Withdraw done! You have 5950 in your account
Deposit done! You have 6450 in your account
Interest rate applied! You have 6772.5 in your account!


5 . Interest Rate

* Apply a personalized interest rate of 15% (over the previous result)

In [51]:
Acc1.irate = 1.15

Acc1.apply_IR()

Interest rate applied! You have 7788.374999999999 in your account!

6 . Create another dummy bank Account

* Print the Account ID

In [52]:
Acc2 = bank_account('Nuno', 10000)

Bank account created with id 1 and balance 9950